/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Tt]estBuild_Data/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

LinuxPlayer_s.debug
UnityPlayer
UnityPlayer_s
UnityPlayer.so
UnityPlayer_s.debug
